Repository zyfra/ebonite, pull requests merged in 2019-11, with the labels that each got.

#3 Ebnt 131 133 minor error fixes
  README.rst
  examples/binary_payload/serve.py
  src/ebonite/core/objects/core.py
  src/ebonite/core/objects/wrapper.py
  src/ebonite/ext/flask/server.py
  src/ebonite/runtime/helpers.py
  src/ebonite/runtime/interface/base.py
  src/ebonite/utils/classproperty.py
  src/ebonite/utils/index_dict.py
  tests/client/test_helpers.py
  tests/ext/flask/test_server.py
  tests/utils/test_abc_utils.py
  tests/utils/test_classproperty.py
  tests/utils/test_index_dict.py
Labels: bug

#5 Ebnt 128 xgboost
  CHANGELOG.rst
  requirements.txt
  src/ebonite/core/objects/wrapper.py
  src/ebonite/ext/ext_loader.py
  src/ebonite/ext/sklearn/model.py
  src/ebonite/ext/xgboost/__init__.py
  src/ebonite/ext/xgboost/dataset.py
  src/ebonite/ext/xgboost/model.py
  src/ebonite/utils/module.py
  test.requirements.txt
  tests/ext/sklearn/__init__.py
  tests/ext/sklearn/test_model.py
  tests/ext/xgboost/__init__.py
  tests/ext/xgboost/conftest.py
  tests/ext/xgboost/test_dataset.py
  tests/ext/xgboost/test_model.py
Labels: ebonite

#4 Ebnt 126 pytorch
  CHANGELOG.rst
  src/ebonite/core/objects/dataset_type.py
  src/ebonite/ext/ext_loader.py
  src/ebonite/ext/torch/__init__.py
  src/ebonite/ext/torch/dataset.py
  src/ebonite/ext/torch/model.py
  src/ebonite/utils/module.py
  tests/build/builder/test_base.py
  tests/ext/torch/__init__.py
  tests/ext/torch/conftest.py
  tests/ext/torch/test_dataset.py
  tests/ext/torch/test_model.py
  tox.ini
Labels: ebonite

#7 Ebnt 127 lightgbm
  CHANGELOG.rst
  src/ebonite/ext/ext_loader.py
  src/ebonite/ext/lightgbm/__init__.py
  src/ebonite/ext/lightgbm/dataset.py
  src/ebonite/ext/lightgbm/model.py
  test.requirements.txt
  tests/ext/lightgbm/__init__.py
  tests/ext/lightgbm/conftest.py
  tests/ext/lightgbm/test_dataset.py
  tests/ext/lightgbm/test_model.py
Labels: ebonite

#9 EBNTE-138 update pyjackson to support classpath in alias and remove a…
  requirements.txt
  src/ebonite/ext/catboost/model.py
  src/ebonite/ext/lightgbm/dataset.py
  src/ebonite/ext/lightgbm/model.py
  src/ebonite/ext/numpy/dataset.py
  src/ebonite/ext/pandas/dataset.py
  src/ebonite/ext/sklearn/model.py
  src/ebonite/ext/tensorflow/dataset.py
  src/ebonite/ext/tensorflow/model.py
  src/ebonite/ext/torch/dataset.py
  src/ebonite/ext/torch/model.py
  src/ebonite/ext/xgboost/dataset.py
  src/ebonite/ext/xgboost/model.py
  tests/ext/flask/test_client.py
Labels: bug

#11 Ebnt 141 uwsgi
  README.rst
  requirements.txt
  src/ebonite/__init__.py
  src/ebonite/build/builder/base.py
  src/ebonite/build/builder/docker_builder.py
  src/ebonite/build/builder/dockerfile.j2
  src/ebonite/build/helpers.py
  src/ebonite/build/provider/base.py
  src/ebonite/build/provider/ml_model.py
  src/ebonite/config.py
  src/ebonite/ext/flask/build_templates/flask-site-nginx.conf
  src/ebonite/ext/flask/build_templates/nginx.conf
  src/ebonite/ext/flask/build_templates/post_install.j2
  src/ebonite/ext/flask/build_templates/pre_install.j2
  src/ebonite/ext/flask/build_templates/supervisord.conf
  src/ebonite/ext/flask/build_templates/uwsgi.ini
  src/ebonite/ext/flask/helpers.py
  src/ebonite/ext/flask/server.py
  src/ebonite/ext/flask/uwsgi.py
  src/ebonite/runtime/server/base.py
  src/ebonite/utils/ebdebug.py
  src/ebonite/utils/log.py
  tests/build/builder/test_base.py
  tests/build/builder/test_docker.py
  tests/build/test_helpers.py
  tests/client/test_local.py
  tests/ext/flask/test_helpers.py
Labels: enhancement
